body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-weight: 100;
    background-color: #f6F6F5;
}
.LogoHeader{
  color: #262626;
  display: inline-block;
  margin-top: 40px;
  margin-left: 38px;
  letter-spacing:5px;

}
.LogoHeader::first-line{
  font-weight: bold;
  font-style: uppercase;
  font-size: 50px;
  letter-spacing:12px;
  font-family:'Bebas Neue', sans-serif;
}

.LogoHeader:hover{
  opacity: 0.5;
}
header{
  background-color: #f6F6F5;
  width: 1280px;
  height: 150px;

}
header ul{
  padding: 0px;
  margin: 0px;
}
header li{
  float: left;
  list-style-type: none;
}
header a{
  padding: 20px 20px;
  text-decoration: none;
  color: #262626;
}
.Menu{
  display: inline-block;
  font-size: 15px;
  float: right;
  margin-top: 80px;
  margin-right: 38px;
}
.MyWork:hover{
  opacity: 0.8;
}
.ig:hover{
  opacity: 0.8;
}
.Contact:hover{
  opacity: 0.8;
}
/* background img */
img{
  width: 100%;
  height:auto;
}
.container{
  position: relative;
  width: 100%;
  margin: 0px auto;
}
/* Right info */
.right{
  display: inline-block;
  margin-left: 80px;
  margin-top: 60px
}

.contact h1{    /* Contact title*/
  margin: 0px 0px 0px 80px;
  color: #262626;
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 12px;
  font-style: uppercase;

}
.info .p1{    /* info like email and base stuff */
  position: relative;
  display: inline-block;
  margin: 20px 80px;
  font-size: 20px;
  color: #262626;
  line-height: 30px;
  letter-spacing: 2px;

}
.p1inf{   /* Email and Base in 500 */
  font-weight: 500;
}

.info .desc{
  position: relative;
  display: block;
  margin: 0px 80px;

  width: 400px;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
  color: #262626;
}
/* Form with box sizing and button */
.form{
 display: inline-block;
 float: right;
 height: 300px;

 margin: 60px 80px 80px 0px;
}
#name, #email{
  width: 400px;
  height: 50px;
}
#message{
  width: 400px;
  height: 115px;
}
#required{
  font-size: 60px;
}

/* Media Query*/
@media screen and (max-width:1280px){
header{
    width: 100%;
  }
.container{
  position:relative;
  display: inline-block;
  width: 100%;
  margin: 0px 0px;
}
.form{
  margin:0
  display: block;
}
.contact h1{    /* Contact title*/
  margin: 0px
}
.info .p1{    /* info like email and base stuff */
  margin:0px;
}
.info .desc{

  margin: 0px;
}


@media screen and (max-width:768px){
header{
    width: 100%;
    height: 140px;
  }

header li{
  float: none;  /* Header for 768 */

}
header ul{

  margin-right: 20px;
  margin-top: -50px;
  line-height: 30px;

}
.container{
  position:absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px 0px;
}

}
@media screen and (max-width:625px){

.LogoHeader{
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.LogoHeader::first-line{
  font-size: 30px;
  margin: 0px auto;
}
img{
  width: 100%;
}
header{
    width: 100%;
    height: 150px;

  }

header li{
  display: block;   /* Header for 625 */
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.right{
  margin: 0px;
  text-align: center;
}
.contact h1{
  font-size: 30px;
}
.info .desc{
  margin: 0px;
  width:100%;
}
.form{
  margin:0px;
  margin-top: 20px;
  width: 100%;
}
#name, #email{
  width: 100%;
  height: 50px;
}
#message{
  width: 100%;
  height: 50px;
}
}
