body{
    font-family: 'Input Mono', sans-serif;
    padding: 0px;
    margin: 0px;

    font-size: 10px;
    font-weight: 100;
    background-color: #f6F6F5;
}
.logoheader a{
  text-decoration: none;
  transition: opacity 0.5s;
}
.logoheader a:hover{
  opacity: 0.3;
}
.logo{
  display: inline-block;
  transform: rotate(352.8deg);
  font-size: 30px;
  font-style: uppercase;
  color: #262626;
}

.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:0;
  left:0;   /* top left rigt at 0 and so element a fixed position */
  right:0;

  padding: 40px;
}
header{

  width: 100%;
  height: 120px;
}
.menu{
  display: flex;
}
.menu li{
  list-style-type: none;
  padding-right: 40px;
}
.menu a{
  text-decoration: none;
  color: #262626;
}
.ig, .work{
  transition: opacity 0.5s;
}
.Work:hover{
  opacity: 0.3;
}
.ig:hover{
  opacity: 0.3;
}
.Contact{
  opacity: 0.3;
}
.copyright{
  color: #262626;
  display: flex;
  left: 20px;
  bottom: 0px;
  position: fixed;
  opacity: 0.5;
}
/* background img */
.container img{
  width: 90%;
}
.container{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.info{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;

  padding-bottom: 80px;
}
.left{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  top: 20px;

}
.left p{
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 500;
}
.left .p1{
  line-height: 20px;
}
.p1inf{
  font-weight: 500;
}

.right{
  display: flex;
  position: relative;
  top: 20px;

  line-height: 20px;
}
/*
.form{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}*/


/*media query*/

@media screen and (max-width:1024px){   /* Ipad resolution */
  .info{
    flex-flow: column;
  }
  .left{
    top: 40px;
    display: flex;
    align-items: center;
  }
.right{
  top: 60px;
}
@media screen and (max-width:700px) {    /* Iphone resolution */
  .logo{
    font-size: 20px;
  }
  .topbar{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .container img{
    width: 100%;
  }
  .right{
    padding: 20px 20px 40px 20px;
    display: flex;
    white-space:normal;
    flex-direction: column;
    justify-content: center;
    top: 80px;
    font-size: 8px;

  }
  .copyright{
    left: 10px;
    font-size: 5px;

  }
}
