body{
    font-family: 'Input Mono', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-weight: 100;
    background-color: #f6F6F5;
}
.logoheader a{
  text-decoration: none;
  transition: opacity 0.5s;
}
.logoheader a:hover{
  opacity: 0.3;
}
.logo{
  display: inline-block;
  transform: rotate(352.8deg);

  font-size: 30px;
  font-style: uppercase;
  color: #262626;
}

.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:0;
  left:0;   /* top left rigt at 0 and so element a fixed position */
  right:0;
  z-index: 1;
  position: fixed;
  padding: 40px;
}
header{

  width: 100%;
  height: 120px;
}
.menu{
  display: flex;
}
.menu li{
  list-style-type: none;
  padding-right: 40px;
}
.menu a{
  text-decoration: none;
  color: #262626;
}
.ig, .contact{
  transition: opacity 0.5s;
}
.Work:hover{
  opacity: 0.3;
}
.ig:hover{
  opacity: 0.3;
}
.Contact:hover{
  opacity: 0.3;
}
.copyright{
  color: #262626;
  display: flex;
  left: 20px;
  bottom: 0px;
  position: fixed;
}


/* img scrolling*/
.head p{
  display: flex;
  justify-content: center;
  margin: 200px auto;

  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.grid{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;    /* grid 3x image */
  margin-top: 180px;
}
.grid:first-child{
  margin-top: 180px;
}
.gridimg{
  width: 20%;
}
.foot{
  display: flex;
  justify-content: center;    /* footer image */
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
  margin-bottom: 180px;
}
.footimg{
  width: 60%;
}


.button a{
  color: #262626;
  text-decoration: none;

  position: relative;
  top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: opacity 0.5s;
}
.button a:hover{
  opacity: 0.3;
}
.info span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 25px;
  color: #262626;
  position: relative;
  top: 100px;
}

@media screen and (max-width:1024px){
  .head p{
    margin-bottom:800px;
  }
}
@media screen and (max-width:660px){
.logo{
  font-size: 20px;
}
.topbar{
  display: flex;
  flex-direction: column;
  position: relative;
}
.copyright{
  font-size: 5px;
}
.topimg{
  width: 90%;
}
.head p{
  font-size: 15px;
  margin: 150px 0px 300px 0px;
}
.info span{
  font-size: 10px;
}
.grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridimg{
  margin-top: 10px;

  width: 90%;
}
.footimg{
  width: 90%;
}
}
