body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    background-color: #262626;

}
.LogoHeader{
  color: #262626;
  margin: 10px 0px 10px 30px;
  transition: opacity 0.5s;
  font-weight: 100;
}
.LogoHeader::first-line{
  font-style: uppercase;
  font-size: 50px;
  letter-spacing: 12px;
  font-family:'Bebas Neue', sans-serif;
}
.LogoHeader:hover{
  opacity: 0.5;
}
header{
  background-color: #f6F6F5;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
header a{
  text-decoration: none;
  color: #262626;
}
header ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
header li{
  list-style-type: none;
  padding-right: 40px;
}

.MyWork, .ig, .contact{
  transition: opacity 0.5s;
}
.MyWork:hover{
  opacity: 0.3;
}
.ig:hover{
  opacity: 0.3;
}
.Contact:hover{
  opacity: 0.3;
}


.Portfolio{
  margin: 0px;
  padding: 0px;
  width: 1280px; /*width of the Portfolio */

  position: relative;
  border: 5px;
  box-shadow: 0px 0px 50px solid black;
  z-index: 1;

  display: grid;
  grid-template-columns: auto auto auto auto; /* Four columns on the grid */
  grid-gap: 0px;
  grid-auto-flow: dense;

}
.Portfolio .box{
  position: relative;
  display: inline-block;
  width: 320px; /* Square box */
  height: 320px;
  position: relative;
  text-align: center;
}

.Portfolio .box .imgbox img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.imgbox img:hover{
  opacity: 0.2;
}
.imgbox span{
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 5px;
  line-height: 25px;
  text-shadow: 2px 2px 5px solid black;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.Portfolio .box .imgbox span::first-line{
  font-size: 40px;
  line-height: 50px;
  position: absolute;
}


/* Media query */
@@media screen and (max-width:1280px){

  

}
